.navbar .nav > li > span{
  float: right;
  padding: 1px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.navbar .nav > li > span > a {
  color: #999;
  text-decoration: none;
  float: right;
}


.navbar .nav > li > span > a:focus,
.navbar .nav > li > span > a:hover {
  color: #FFF;
  text-decoration: none;
  background-color: transparent;
}

.table-pergunta-publica td{
  padding:5px;
  
}

.table-pergunta-publica td span{
  color: #0088cc;
}



.table-pergunta-publica td em{
  color: #999999;
  
}

.table-servico-adwords td {
  font-size: 11px;
  
}

.table-search td{
  padding: 3px;
}

.table-search td span{
  color: #0088cc;
}

.table-search td em{
  color: #999999;
  
}

.table-credito td{
  padding: 5px;
}

.denucie{
  display: none;
  font-size: 10px;
}
